<footer class="post-footer">
    <section class="post-footer-section">
        <table class="post-metadata">
            <tr class="post-metadata-date">
                <td>Published at</td>
                <td>{{publishDateMedium}}</td>
            </tr>
            {{#if category}}
            <tr class="post-metadata-category">
                <td>Category</td>
                <td><a class="category-link" href="{{category.permalink}}">{{category.name}}</a></td>
            </tr>
            {{/if}}
            {{#if tags}}
            <tr class="post-metadata-tags">
                <td>Tags</td>
                <td>{{>pages/post/tags}}</td>
            </tr>
            {{/if}}
        </table>
    </section>
    {{#if links.mentionedBy}}
      <section class="post-footer-section">
          <h4>Mentioned in:</h4>
            <ul>
                {{#each links.mentionedBy as |mentioner|}}
                    <li>
                        <a href="{{mentioner.permalink}}">{{mentioner.title}}</a>
                    </li>
                {{/each}}
            </ul>
      </section>
    {{/if}}
    {{#if links.previousPost}}
        <a href="{{links.previousPost.permalink}}">&laquo; {{links.previousPost.title}}</a>
    {{/if}}
    {{#if links.nextPost}}
        <a href="{{links.nextPost.permalink}}">{{links.nextPost.title}} &raquo;</a>
    {{/if}}
</footer>
