{{#>base page="homepage"}}

  <style>
    .collection-header {
      display: flex;
      gap: .8em;
      align-items: center;
    }

    .collection-facets {
      font-size: .8em;
      font-variant: small-caps;
    }

    .collection-entries-list {
      margin-top: 0;
    }
  </style>

  <h1 data-site-title>{{settings.site.title}}</h1>

  {{> @partial-block }}

  <h2 data-title>Pages</h2>
  <ul>
    {{#each subpages as |subpage|}}
    <li><a data-subpage-link href="{{subpage.permalink}}">{{subpage.title}}</a></li>
    {{/each}}
  </ul>

  <h2>Collections</h2>

  {{#each collections as |collection|}}
    <header class="collection-header">
      <h3><a data-collection-link href="{{collection.permalink}}">{{collection.title}}</a></h3>

      {{#if collection.facets.length}}
      <div class="collection-facets">
        <a data-facet-browse-link href="{{collection.permalink}}/by">by</a>:
        {{#each collection.facets as |facet|}}
        <a data-facet-name-link href="{{facet.permalink}}">{{facet.title}}</a>
        {{/each}}
      </div>
      {{/if}}
    </header>

    <ul class="collection-entries-list">
      {{#each collection.posts as |post|}}
      <li><a data-post-link href="{{post.permalink}}">{{post.title}}</a></li>
      {{/each}}
    </ul>
  {{/each}}

{{/base}}
