<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{site.description}}" />
        <title>{{site.title}}</title>
        <link rel="stylesheet" href="assets/style/style.css">
    </head>

    <body>

        <div class="container">
            <nav class="topbar">
                <h1 class="site-title" id="dark-toggle">{{site.title}}</h1>
                {{>search}}

                <div class="categories">
                    {{#each categories as |category|}}
                        <a class="categories-item" href="{{category.permalink}}">
                            {{category.name}}
                        </a>
                    {{/each}}
                </div>
            </nav>

            <main class="content" id="posts-container">
                {{#each posts as |post|}}
                    {{#if (isPostType 'text-post' post.type)}}
                        <div class="post">
                            <h2><a href="{{post.permalink}}">{{post.title}}</a></h2>
                            {{{post.summary}}}
                            <p><a href="{{post.category.permalink}}">{{post.category.name}}</a></p>
                            <p>{{post.publishedAtMedium}}</p>
                        </div>
                    {{/if}}
                {{/each}}
            </main>
        </div>

        <script type="text/javascript" src="/assets/scripts/base.js"></script>
    </body>

</html>
