{{#with post}}
<article class="post post--episode">
    <header class="post-header">
        <h2>{{title}}</h2>
        <img src="{{cover}}" alt="{{coverAlt}}">
    </header>

    <section class="post-content">
        {{#if media}}
          <section>
            <h3>Listen</h3>
            <audio controls src="{{media}}"></audio>
          </section>
        {{/if}}

        {{> @partial-block .. }}

        {{#if transcript}}
          <section>
            <h3>Transcript</h3>
            <pre>{{transcript}}</pre>
          </section>
        {{/if}}
    </section>

    {{>pages/post/footer}}
</article>
{{/with}}
