{{#>base page="category"}}

  <style>
    .category-header {
      display: flex;
      gap: .8em;
      align-items: center;
    }

    .category-facets {
      font-size: .8em;
      font-variant: small-caps;
    }
  </style>

  <h1 data-site-title>{{settings.site.title}}</h1>

  <header class="category-header">
    <h2><a data-title href="{{category.permalink}}">{{category.title}}</a></h2>

    {{#if category.facets.length}}
    <div class="category-facets">
      {{#if (is category.permalink '/')}}
      <a data-facet-browse-link href="by">by</a>:
      {{else}}
      <a data-facet-browse-link href="{{category.permalink}}/by">by</a>:
      {{/if}}
      {{#each category.facets as |facet|}}
      <a data-facet-link href="{{facet.permalink}}">{{facet.title}}</a>
      {{/each}}
    </div>
    {{/if}}
  </header>

  <div data-content>{{> @partial-block }}</div>

  <p data-template-text>default template</p>

  {{#if category.categories.length}}
  <h3>Posts by subcategories</h3>
  {{#each category.categories as |subcategory| }}
    <h4><a data-category-link href="{{subcategory.permalink}}">{{subcategory.title}}</a></h4>
    <ul>
      {{#each subcategory.posts as |post|}}
      <li><a data-post-link href="{{post.permalink}}">{{post.title}}</a></li>
      {{/each}}
    </ul>
  {{/each}}
  {{/if}}

  <h3>All posts</h3>
  <ul>
    {{#each category.posts as |post|}}
    <li><a data-post-link href="{{post.permalink}}">{{post.title}}</a></li>
    {{/each}}
  </ul>
{{/base}}