{{#>base page="post"}}
  <h1 data-site-title>{{settings.site.title}}</h1>

  {{#with demo}}

    <h2 data-title>{{title}}</h2>

    <div data-content>{{> @partial-block .. }}</div>

    <div>
    {{#each context.items as |layer|}}
      {{#if layer.title}}
        <a data-breadcrumb-link href="{{layer.permalink}}">{{layer.title}}</a> &raquo;
      {{/if}}
    {{/each}}
    </div>

    <div>
    {{#if date}}
      Date: <a data-date-link href="{{date.facetPermalink}}">{{dateMedium date.value}}</a>
    {{/if}}
    </div>

    <div>
    {{#if tags}}
      {{#each tags as |tag|}}
        <a data-tag-link href="{{tag.facetPermalink}}">{{tag.value}}</a>
      {{/each}}
    {{/if}}
    </div>

    <div>
    {{#if maker}}
      Maker: <a data-maker-link href="{{maker.permalink}}">{{maker.title}}</a>
    {{/if}}
    </div>

    <div>
    {{#if links.relations}}
      Relations:
      <ul>
        {{#each relation.entries as |entry|}}
          <li><a data-relation-link href="{{entry.permalink}}">{{entry.title}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      no relations
    {{/if}}
    </div>

    <div>
    {{#if links.mentionedBy}}
      Mentions:
      <ul>
        {{#each links.mentionedBy as |mentioner|}}
        <li><a data-mention-link href="{{mentioner.permalink}}">{{mentioner.title}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      no mentions
    {{/if}}
    </div>

    <div>
    {{#if links.previousPost}}
    Previous post:
      <a data-previous-post-link href="{{links.previousPost.permalink}}">{{links.previousPost.title}}</a>
    {{else}}
      this is the first post!
    {{/if}}
    </div>

    <div>
    {{#if links.nextPost}}
      Next post:
      <a data-next-post-link href="{{links.nextPost.permalink}}">{{links.nextPost.title}}</a>
    {{else}}
      this is the last post!
    {{/if}}
    </div>

  {{/with}}
{{/base}}
