{{#>m-doc}}
  The html foundation.
{{/m-doc}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{site.description}}" />
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="{{assetsPath}}/common/highlight/styles/default.min.css">
        <script src="{{assetsPath}}/common/highlight/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {{>base-style}}
        {{>page-style}}
        {{>custom-style}}
    </head>

    <body>
        {{>@partial-block}}
        {{>icons}}
        <script>window.permalinkPrefix = "{{settings.permalinkPrefix}}"</script>
        {{>base-script}}
        {{>page-script}}
        {{>custom-script}}
    </body>

</html>
