{{#>m-doc}}
  List of posts.
{{/m-doc}}
{{#each posts as |post|}}
  <div class="post">
      <h2><a href="{{post.permalink}}">{{post.title}}</a></h2>
      {{{post.summary}}}
      <p><a href="{{post.category.permalink}}">{{post.category.name}}</a></p>
      <p>{{post.publishDateMedium}}</p>
  </div>
{{/each}}
