{{#>base page="post"}}
  <h1>{{settings.site.title}}</h1>

  {{#with post}}

    <h2>{{title}}</h2>

    <div>{{> @partial-block .. }}</div>

    <div>
    {{#each context.items as |layer|}}
      {{#if layer.title}}
        <a href="{{layer.permalink}}">{{layer.title}}</a> &raquo;
      {{/if}}
    {{/each}}
    </div>

    <div>
      {{#if articles}}
        Articles:
        {{#each articles as |article|}}
          <a href="{{article.permalink}}">{{article.title}}</a>
        {{/each}}
      {{/if}}
    </div>

    <div>
      {{#if demos}}
        Demos:
        {{#each demos as |demo|}}
          <a href="{{demo.permalink}}">{{demo.title}}</a>
        {{/each}}
      {{/if}}
    </div>

    <div>
      {{#if books}}
        Books:
        {{#each books as |book|}}
          <a href="{{book.permalink}}">{{book.title}}</a>
        {{/each}}
      {{/if}}
    </div>

    <div>
      {{#if events}}
        Events:
        {{#each events as |event|}}
          <a href="{{event.permalink}}">{{event.title}}</a>
        {{/each}}
      {{/if}}
    </div>

    <div>
    {{#if date}}
      Date: <a href="{{date}}">{{dateMedium date}}</a>
    {{/if}}
    </div>

    <div>
    {{#if tags}}
      {{#each tags as |tag|}}
        <a href="{{tag.facetPermalink}}">{{tag.value}}</a>
      {{/each}}
    {{/if}}
    </div>

    <div>
    {{#if links.relations}}
      Relations:
      <ul>
        {{#each relation.entries as |entry|}}
          <li><a href="{{entry.permalink}}">{{entry.title}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      no relations
    {{/if}}
    </div>

    <div>
    {{#if links.mentionedBy}}
      Mentions:
      <ul>
        {{#each links.mentionedBy as |mentioner|}}
        <li><a href="{{mentioner.permalink}}">{{mentioner.title}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      no mentions
    {{/if}}
    </div>

    <div>
    {{#if links.previousPost}}
    Previous post:
      <a href="{{links.previousPost.permalink}}">{{links.previousPost.title}}</a>
    {{else}}
      this is the first post!
    {{/if}}
    </div>

    <div>
    {{#if links.nextPost}}
      Next post:
      <a href="{{links.nextPost.permalink}}">{{links.nextPost.title}}</a>
    {{else}}
      this is the last post!
    {{/if}}
    </div>

  {{/with}}
{{/base}}
