{{#> base }}
    <div class="container">
        <nav class="topbar">
            <h1 class="site-title">{{site.title}}</h1>
            {{>search}}
        </nav>

        <main class="content" id="posts-container">
            {{#each posts as |post|}}
                {{#if (isPostType 'photo-post' post.type)}}
                    <a href="{{post.permalink}}" title="{{post.title}}" class="photo-thumbnail">
                        <img src="{{post.permalink}}/{{post.thumbnailUrl}}" alt="{{post.title}}" />
                    </a>
                {{/if}}
                {{#if (isPostType 'text-post' post.type)}}
                    <div class="post">
                        <h2><a href="{{post.permalink}}">{{post.title}}</a></h2>
                        {{{post.summary}}}
                        <p>{{post.tags}}</p>
                        <p>{{post.publishedAtMedium}}</p>
                    </div>
                {{/if}}
            {{/each}}
        </main>
    </div>
{{/base}}
