{{#> base }}
    <div class="container">
        <nav class="topbar">
            <h1 class="site-title">{{site.title}}</h1>
        </nav>

        <main class="content">
            <article class="post post--text">
                <header class="post-header">
                    <h2>{{title}}</h2>
                </header>
                <section class="post-content">
                    {{> @partial-block }}
                </section>
                <footer class="post-footer">
                    <section class="post-footer-section">
                        <table class="post-metadata">
                            <tr class="post-metadata-date">
                                <td>Published at</td>
                                <td>{{publishedAtMedium}}</td>
                            </tr>
                            {{#if category}}
                            <tr class="post-metadata-category">
                                <td>Category</td>
                                <td><a href="{{category.permalink}}">{{category.name}}</a></td>
                            </tr>
                            {{/if}}
                            {{#if tags}}
                            <tr class="post-metadata-tags">
                                <td>Tags</td>
                                <td>{{tags}}</td>
                            </tr>
                            {{/if}}
                        </table>
                    </section>
                    {{#if links.prevPost}}
                        <a href="{{links.prevPost.permalink}}">&laquo; {{links.prevPost.title}}</a>
                    {{/if}}
                    {{#if links.nextPost}}
                        <a href="{{links.nextPost.permalink}}">{{links.nextPost.title}} &raquo;</a>
                    {{/if}}
                </footer>
            </article>
        </main>
    </div>
{{/base}}
